@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  background-color: white;
  margin-bottom: 2px;
}

.header-1 {
  display: flex;
  flex-direction: row;
}

.header-logo {
  height: 1.5rem;
  /* width: 1.5rem; */
  margin-left: 5px;
  margin-top: 5px;
}

.header-scrollmenu.top {
  border-top: 0px;
  box-shadow: none;
}

.header-restaurantName {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  /* position: absolute; */
  /* width: 390px;
  height: 23px;
  left: 0px;
  top: 36px; */
}

.header-scrollmenu {
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 20px; 
  padding-left: 5px;
  margin-top: 0.3rem;
  box-shadow: 0px 5px 5px grey;
  border-top: 1px solid grey;
  scrollbar-width: none;
}

/* to hide scrollbar while enabling scrolling 
  for Chrome, Safari, Edge and Opera*/
.header-scrollmenu::-webkit-scrollbar {
  display: none;
}
/* to hide scrollbar while enabling scrolling 
  for Firefox*/
.header-scrollmenu {
  scrollbar-width: none;
}

.header-scrollitem {
  /* display: inline-block; */
  font-size: 1.25rem;

}

.item {
  height:25vw;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  
  
}

.item-left {
  width: 75vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-bottom: 2px solid rgba(119,119,119,0.2);
}

.item-left-name {
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 2px 2px;
}

.item-left-desc {
  font-size: 0.6rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #777777;
  padding: 2px 2px;
}

.item-left-price {
  font-size: 0.7rem;
  padding: 2px 2px;
}

.item-right {
  /* border: 2px solid yellow; */
  width: 25vw;
}

.item-right-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}