@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  background-color: white;
  margin-bottom: 2px;
}

.header-top {
  display: flex;
  flex-direction: row;
}

.header-top-logo {
  height: 1.5rem;
  /* width: 1.5rem; */
  margin-left: 5px;
  margin-top: 5px;
}



.header-top-menu, .header-bottom-menu {
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 20px; 
  padding-left: 5px;
  margin-top: 0.3rem;
  font-size: 1rem;
  height: 30px;
  box-shadow: 0px 5px 5px grey;
  border-top: 1px solid grey;
  scrollbar-width: none;
}

/* to hide scrollbar while enabling scrolling 
  for Chrome, Safari, Edge and Opera*/
.header-top-menu::-webkit-scrollbar, .header-bottom-menu::-webkit-scrollbar {
  display: none;
}
/* to hide scrollbar while enabling scrolling 
  for Firefox*/
.header-top-menu, .header-bottom-menu {
  scrollbar-width: none;
}

.header-top-menu-item, .header-bottom-menu-item {
  /* display: inline-block; */
  font-size: 1.25rem;
  color: black;
  text-decoration: none;
}

/* for setting offset when you browse to certain locations on page use nav bar */
:target::before {
  content: "";
  display: block;
  height: 75px; /* fixed header height*/
  margin: -75px 0 0; /* negative fixed header height */
}

.header-top-menu {
  border-top: 0px;
  box-shadow: none;
}

.header-restaurantName {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  /* position: absolute; */
  /* width: 390px;
  height: 23px;
  left: 0px;
  top: 36px; */
}

.active {
  /* background-color: black;
  color: white;
  border-radius: 4px; */
  border-bottom: 3px solid black;

}

.item {
  height:25vw;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: row;
  
  
}

.item-left {
  width: 75vw;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border-bottom: 2px solid rgba(119,119,119,0.2);
}

.item-left-name {
  font-size: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 2px 2px;
  height: 30%;
  /* border: 2px green solid; */
}

.item-left-desc {
  font-size: 0.6rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  color: #777777;
  padding: 2px 2px;
  height: 40%;
  white-space: normal;
  overflow: auto;
  text-overflow: ellipsis;
  

}

.item-left-price {
  font-size: 0.7rem;
  padding: 2px 2px;
  /* border: 2px solid pink; */
  height: 30%;
}

.item-right {
  /* border: 2px solid yellow; */
  width: 25vw;
}

.item-right-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.category {
  /* border-bottom: 2px solid grey; */
  background-color: rgba(119,119,119,0.2);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 5px;
  padding-left: 2px;
}

.category-description {
  font-size: 0.6em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* on index.ejs page */

.video {
  max-height: 390px;
  max-width: 844px;
  /* border: solid gray 2px; */
}

/* Formatting on the Profile page where menu info is entered */
img.profile-image {
  max-width: 100%;
  max-height: 100%;
  height: 50px;
}