<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Codes</title>

    </head>

    <body>


        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>
        <div class="qrimage"></div>

        <!-- Retrieves QR Code image to be used in the page. -->
        <script>
            let url = 'https://google.com/';
            let qrcodeRequest = `https://chart.apis.google.com/chart?cht=qr&chl=${url}&chs=200`;




            for (i=0; i<9; i++) {
                let qrImage = new Image();
                qrImage.src = qrcodeRequest;
                let qrDOMImage = document.getElementsByClassName('qrimage');
                qrDOMImage[i].appendChild(qrImage)
                console.log(qrDOMImage)

            }
        </script>
    </body>

</html>