<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>QR Codes</title>

    </head>

    <body>
        <div id="qrimage"></div>

        <!-- Retrieves QR Code image to be used in the page. -->
        <script>
            let url = 'https://google.com/';
            let qrcodeRequest = `https://chart.apis.google.com/chart?cht=qr&chl=${url}&chs=500`;

            let qrImage = new Image();
            qrImage.src = qrcodeRequest;

            let qrDOMImage = document.getElementById('qrimage');
            console.log(qrDOMImage);
            console.log(qrImage);
            qrDOMImage.appendChild(qrImage)
        </script>
    </body>

</html>